* {
  margin: 0;
  padding: 0;
  border: 0;
}

.content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 100vh;
  box-sizing: border-box;
  background-image: linear-gradient(to right bottom, #031b3f, #002a64, #00398b, #0047b4, #0056de);
}

p {
  margin-bottom: 0;
}

input {
  font-family: 'Noto Sans';
  max-width: 100%;
  background-color: #bbc4c5 !important;
  color: rgb(0, 0, 0) !important;
  border: none !important;
  border-radius: 5px !important;
  box-shadow: rgba(0, 0,0,0.5)
}

input:focus-within {
  box-shadow: none !important;
}

#message_content {
  border: none !important;
  border-radius: 0px !important;
  padding-right: 15%;
}

.form-control {
  width: 100%;
  height: 50px;
}

#chat {
  margin-top: 10%;
  min-width: 350px;
  max-width: 100%;
  height: 100vh;
  display: none;
}

button {
  width: 100%;
  height: 50px;
  margin-top: 10px;
}

.content-messages {
  position: relative;
}

.messages {
  min-width: 20%;
  max-width: 100%;
  height: 80vh;
  padding: 20px;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #333333;
}

.message,
.my_message {
  margin: 10px 25% 10px 10px;
  border-radius: 0px 10px 10px;
  padding: 10px;
  font-family: 'Noto Sans';
  font-size: 0.9em;
  color: lightgray;
  background-color: #3b3b3b;
  word-wrap: break-word;
}

.my_message {
  text-align: right;
  border-radius: 10px 10px 0px;
  margin: 10px 10px 10px 25%;
}

#descer {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  right: 3%;
  bottom: 10px;
  position: absolute;
  display: none;
}

.content-input {
  height: 60px;
  display: flex;
  flex-direction: row;
  top: 1px;
  bottom: 0 !important;
  position: relative;
}

#send {
  position: absolute;
  width: 15%;
  font-size: 2rem;
  background-color: transparent;
  color: #0d6efd;
  display: none;
}

#send a {
  color: #0d6efd;

}

.buttons > button {
  right: 0;
  margin-top: 0 !important;
}

.users > span {
  color: greenyellow;
  /* padding-left: 5px; */
  font-size: 0.5;
}

/* ScrollBar */

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #3b3b3b;
  border-radius: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #4B4B4B;
  border-radius: 8px;
}